<% deploys.each do |deploy| %>
  <article>
    <header><h2><%= deploy.server %></h2></header>
    <p id="deploy-<%= deploy.id %>-result">
    </p>
    <footer>
      <button hx-post="/accounts/<%= account.id %>/deploys/<%= deploy.id %>" hx-target="#deploy-<%= deploy.id %>-result">Deploy</button>
    </footer>
  </article>
<% end %>
