{{define "main"}}
<section>
  <h1>Accounts</h1>
  {{ range .Accounts }}
  <article>
    <header>
      <a href="/{{ .Name }}">{{ .Title }}</a>
    </header>
    <strong>{{ .Url }}</strong>
  </article>
  {{ end }}
</section>
{{end}}
