<section>
  <h1>Accounts</h1>
  <% @accounts.each do |account| %>
  <article>
    <header>
      <h2><a href="/accounts/<%= account.id %>"><%= account.name %></a></h2>
    </header>
  </article>
  <% end %>
</section>
