<section>
  <hgroup>
    <h1><a href="/<%= @account.name %>"><%= @account.title %></a></h1>
    <small><a href="<%= @account.url %>" target="_blank"><%= @account.url %></a></small>
  </hgroup>
  <img src="" />
  <nav>
    <ul>
      <li><a>Events</a></li>
      <li><a>Videos</a></li>
      <li><a>Lyrics</a></li>
      <li><a>Pages</a></li>
    </ul>
  </nav>
</section>
