{{define "main"}}
<section>
  <h1>Accounts</h1>
  {{ range .Accounts }}
  <article>
    <header>
      <h2><a href="/{{ .Name }}">{{ .Name }}</a></h2>
    </header>
  </article>
  {{ end }}
</section>
{{end}}
