{{define "main"}}
<section>
  <hgroup>
    <h1><a href="/{{ .Name }}">{{ .Title }}</a></h1>
    <small><a href="{{ .Url }}" target="_blank">{{ .Url }}</a></small>
  </hgroup>
  <img src="" />
  <nav>
    <ul>
      <li><a>Events</a></li>
      <li><a>Videos</a></li>
      <li><a>Lyrics</a></li>
      <li><a>Pages</a></li>
    </ul>
  </nav>
</section>
{{end}}
