<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <title>Audiofeeler</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <strong>Audiofeeler</strong>
          </li>
        </ul>
        <ul>
          <li>
            <details role="list">
              <summary>Accounts</summary>
              <ul role="listbox">
                <li>
                  <a>czarnymotyl.art</a>
                </li>
                <li>
                  <a>karoryfer.com</a>
                </li>
                <li>
                  <a>balkanartz.eu</a>
                </li>
                <li>
                  <a>iglika.eu</a>
                </li>

              </ul>
            </details>
        </ul>
      </nav>
    </header>
    <main class="container">
      <section>
        <hgroup>
          <h1>Czarny Motyl</h1>
          <small>czarnymotyl.art</small>
          <p>Rodzinny zespół art brutowy</p>
        </hgroup>
        <img src="" />
      </section>
      <details open>
        <summary>Events</summary>
      </details>
      <details>
        <summary>Videos</summary>
      </details>
      <details>
        <summary>Lyrics</summary>
      </details>
      <details>
        <summary>Pages</summary>
      </details>
    </main>
    <footer class="container"></footer>
  </body>
</html>
