<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <title>Audiofeeler</title>
  </head>

  <body>
    <header class="container">
      <a href="/">Audiofeeler</a>
    </header>
    <main class="container">
      <%- if account -%>
      <section>
        <hgroup>
          <h1><a href="/accounts/<%= account.id %>"><%= account.name %></a></h1>
        </hgroup>
        <button>Deploy</button>
        <nav>
          <ul>
            <li>
              <a hx-get="/accounts/<%= account.id %>/events"
                 hx-push-url="true"
                 hx-target="#content-slot">
                 Events
              </a>
            </li>
            <li>
              <a hx-get="/accounts/<%= account.id %>/videos"
                 hx-push-url="true"
                 hx-target="#content-slot">
                 Videos
              </a>
            </li>
            <li>
              <a hx-get="/accounts/<%= account.id %>/lyrics"
                 hx-push-url="true"
                 hx-target="#content-slot">
                 Lyrics
              </a>
            </li>
            <li>
              <a hx-get="/accounts/<%= account.id %>/pages"
                 hx-push-url="true"
                 hx-target="#content-slot">
                 Pages
              </a>
            </li>
          </ul>
        </nav>
      </section>
      <%- end -%>

      <section id="content-slot">
        <%= content %>
      </section>
    </main>
    <footer class="container"></footer>
  </body>
</html>
