<% deployments.each do |deployment| %>
  <article>
    <header><h2><%= deployment.server %></h2></header>
    <dialog id="deployment-<%= deployment.id %>-result" hx-on:htmx-after-swap="this.showModal()">
    </dialog>
    <footer>
      <button hx-post="/accounts/<%= account.id %>/deployments/<%= deployment.id %>/release" hx-target="#deployment-<%= deployment.id %>-result">Release</button>
    </footer>
  </article>
<% end %>
